@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}
.highlighted {
  position: relative;
}

.highlighted:hover::after {
  content: '';
  position: absolute;
  background-image: url('https://hiroyukikumazawa.com/assets/images/hiroyuki-kumazawa.png');
  background-size: cover;
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  border-radius: 50%;
  top: -120px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease; /* Slow down the transition and add opacity */
}

.highlighted:hover::after {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a0aec0;
  border: 2px solid #edf2f7;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #edf2f7;
}
.custom-scrollbar {
  scrollbar-color: #a0aec0 #edf2f7;
  scrollbar-width: thin;
}
.black{
  background-color: #161a31;
}
.white{
  background-color: #ffffff;
}
